<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CookBook password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'Hello ' + ${userName}">
            Dear User
        </p>
        <p>
            We've received your password reset request. Please use button bellow to proceed.
        </p>
        <p>
            <a th:href="@{${actionLink}}"
               role="button">Reset Link</a>
        </p>
        <p>
           <span>Regards, </span>
           <br/>
           <em>CookBook App Team.</em>
        </p>
    </body>
</html>
